################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ROAR_API/DataLayer/Migrations/RoarContextModelSnapshot.cs
